<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link active" routerLink="home">
					<ion-icon name="list"></ion-icon>
				</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="store">
					<ion-icon name="pricetag"></ion-icon>
				</a>
		  </li>

	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="buy">
					<ion-icon name="checkmark-circle"></ion-icon>
				</a>
		  </li>

		  
		  <li class="nav-item">
			
			<a class="nav-link" routerLink="new-user">
					<ion-icon name="add"></ion-icon>
				</a>
		  </li>	 
		  
		  <li class="nav-item">
			
			<a class="nav-link" routerLink="pagina">
					<ion-icon name="hand"></ion-icon>
				</a>
		  </li>	 
		  
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>
