<link rel="STYLESHEET" type="text/css" href="pagina.component.css">

<div>
  <ol>

         <div class="primer-bloque">
              <p>¡seleccione su producto!</p>
         </div>

    <div class="dos"> <!--segundo bloque-->

      <ol class="ol-dos"> <!--esto crea un recuadro-->
     <div class="col col-md-4"> <!--esto hace que se hagan en lista-->
 
 
            <div class="primero" > <!--primer producto-->
              <p class = "descripcion">HUMMER</p>
              <img class="imgprod" src="src/app/pagina/imagenesstore/uno.jpeg" alt="nombre" width="100" height="100">

              <ol class="cuadro">
              <div class="form-group">


                  <mat-form-field class="input-style">
                  
                  <ng-container *ngFor="let validation of validation_messages.age">
                    <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
                  </ng-container>
                </mat-form-field>

                  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
                  <a href="#" class="btn btn-success">comprar</a>

                </div>

                </ol>
            </div>



            <div class="segundo"> <!--segundo producto-->
              <p class = "descripcion">lamborgini</p>
              <img src="src/app/pagina/imagenesstore/dos.jpeg" alt="nombre" width="100" height="100">

                <ol class="cuadro">
                <div class="form-group">
                    <mat-form-field class="input-style">
                    
                    <ng-container *ngFor="let validation of validation_messages.age">
                      <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                  </mat-form-field>

                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
                    <a href="#" class="btn btn-success">comprar</a>
  
                  </div>
                    </ol>
              </div>

            <div class ="tercero"> <!--tercer producto-->
              <p class = "descripcion">MUSTANG</p>
              <img src="src/app/pagina/imagenesstore/tres.jpeg" alt="nombre" width="100" height="100">

              <ol class="cuadro">
                <div class="form-group">
                    <mat-form-field class="input-style">
                      
                    <ng-container *ngFor="let validation of validation_messages.age">
                      <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                  </mat-form-field>

                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
                    <a href="#" class="btn btn-success">comprar</a>
  
                  </div>
                  </ol>
            </div>

            <div class="cuarto"> <!--cuarto producto-->
              <p class = "descripcion">PORCHE</p>
              <img src="src/app/pagina/imagenesstore/cuatro.jpeg" alt="nombre" width="100" height="100">

              <ol class="cuadro">
                <div class="form-group">
                    <mat-form-field class="input-style">
                      
                    <ng-container *ngFor="let validation of validation_messages.age">
                      <mat-error *ngIf="exampleForm.get('age').hasError(validation.type) && (exampleForm.get('age').dirty || exampleForm.get('age').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                  </mat-form-field>

                    <link rel="stylesheet" href="src/app/store" />
                    <a href="#" class="btn btn-success">comprar</a>
  
                  </div>
                  </ol>
            </div>
            
       </div>

       <div class="bot-cargar">
        <button class="boton-cargar" color="primary">comprar</button>
      </div>

      </ol>
  </div>
  </ol>
  </div>

  <div class="productos">
    <img class="productos" src="src/app/pagina/imagenesstore/logouno.jpeg" alt="nombre" width="500" height="800">
  </div>

  <div class="productos2">
    <img class="productos2" src="src/app/pagina/imagenesstore/logodos.jpeg" alt="nombre" width="500" height="600">
  </div>
