.titulo{
    padding: 20px 40px;
}

.create-page {

    padding: 20px 60px;
}
    .page-content {
      background-color: #FFF;
    }
      .img-avatar {
        border-radius: 50%;
        width: 150px;
        display: block;
        margin: 20px auto;
      
}
